<div class="blank"></div>
<div class="menu_tree">
    <div>
        {% if page.url == "/about.html" %}
            <a href="/index.html">Home</a> > <b>about</b>
        {% elsif page.url == "/" %}
            <b>Home</b>
        {% else %}
            <a href="/index.html">Home</a> > <b>{{page.category_name}}</b>
        {% endif %}
    </div>
</div>
    
<div class="content">
    <!-- Board -->
    {% if include.category == "index" %}
    {{ include.content }}
    {% endif %}

    <!-- Board -->
    {% if include.category == "board" %}
    <div class="board">
        <h1>{{page.title}}</h1>
        <div>{{page.date}}</div>
        <hr>
        {{ include.content }}
    </div>
    {% endif %}

    <!-- About -->
    {% if include.category == "about" %}
        {{ include.content }}
    {% endif %}

    <!-- Record -->
    {% if include.category == "record" %}
        {{ include.content }}
    {% endif %}

    <!-- Playground -->
    {% if include.category == "playground" %}
        {{ include.content }}
    {% endif %}
</div>