<div id="left_nav" class="left_nav">

    <!--이력-->
    <div class="one_depth"><p>이력</p>
        <div class="two_depth">2020</div>
        <div class="three_depth depth_hide">
            {% for 2020 in site.categories.2020 %}
                {% if page.url != 2020.url %}
                    <div><a href="{{2020.url}}">{{2020.title}}</a></div>
                {% else  %}
                    <div id="select">{{2020.title}}</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="two_depth">2021</div>
        <div class="three_depth depth_hide">
            {% for 2021 in site.categories.2021 %}
                {% if page.url != 2021.url %}
                    <div><a href="{{2021.url}}">{{2021.title}}</a></div>
                {% else  %}
                    <div id="select">{{2021.title}}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <br>
    <!--게시판-->
    <div class="one_depth"><p>게시판</p>
        <div class="two_depth">개념</div>
        <div class="three_depth depth_hide">
            {% for javacript in site.categories.concept %}
                {% if page.url != concept.url %}
                    <div><a href="{{concept.url}}">{{concept.title}}</a></div>
                {% else  %}
                    <div id="select">{{concept.title}}</div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="two_depth">HTML</div>
        <div class="three_depth depth_hide">
            {% for html in site.categories.html %}
                {% if page.url != html.url %}
                    <div><a href="{{html.url}}">{{html.title}}</a></div>
                {% else  %}
                    <div id="select">{{html.title}}</div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="two_depth">Javacript</div>
        <div class="three_depth depth_hide">
            {% for javacript in site.categories.javacript %}
                {% if page.url != javacript.url %}
                    <div><a href="{{javacript.url}}">{{javacript.title}}</a></div>
                {% else  %}
                    <div id="select">{{javacript.title}}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <br>
    <!--놀이터-->
    <div class="one_depth"><p>놀이터</p>
        <div class="two_depth">Example</div>
        <div class="three_depth depth_hide">
            {% for html in site.categories.example %}
                {% if page.url != example.url %}
                    <div><a href="{{example.url}}">{{example.title}}</a></div>
                {% else  %}
                    <div id="select">{{example.title}}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>