<div class="top_nav">
    <div class="profile"><a><img src="/assets/images/logo.jpg"></a></div>
    <div class="description">{{ site.description }}</div>
    <table class="menu">
        <thead>
            <tr>
                <th>이력</th>
                <th>카테고리</th>
                <th>놀이터</th>
                <th>xxx</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td>2020</td>
                <td>공부</td>
                <td>xxx</td>
                <td>xxx</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>공부</td>
                <td>xxx</td>
                <td>xxx</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>공부</td>
                <td>xxx</td>
                <td>xxx</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>공부</td>
                <td>xxx</td>
                <td>xxx</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <nav>
    {% for menu in site.data.navigation %}
        <a href="{{menu.link}}" {% if page.url == menu.link %} class="current" {% endif %}>
            {{menu.name}}
        </a>
    {% endfor %}
</nav> -->