<div class="top_nav">
    <div class="profile_box">
    {% if include.category != "about" %}
        <div class="profile"><a href="/about.html"><img src="/assets/images/logo.jpg"></a></div>
    {% endif %}
    {% if include.category == "about" %}
        <div class="profile"><a href="/index.html"><img src="/assets/images/about_logo.jpg"></a></div>
    {% endif %}
    </div>
    <div class="description_box">
        <div class="description">{{ site.description }}</div>
    </div>
    
    <div id="top_menu" class="menu">
        <table id="top_menu_table">
            <thead>
                <tr>
                    <th>이력</th>
                    <th>게시판</th>
                    <th>놀이터</th>
                    <th>xxx</th>
                </tr>
            </thead>    
            <tbody>
                <tr>
                    <td>2020</td>
                    <td>HTML</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>Javascript</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <nav>
    {% for menu in site.data.navigation %}
        <a href="{{menu.link}}" {% if page.url == menu.link %} class="current" {% endif %}>
            {{menu.name}}
        </a>
    {% endfor %}
</nav> -->